# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summerized.

### Some of the popular languages that Data Scientist uses are:

1. Python
2. R Programming
3. SQL
4. JAVA

## Some of the commonly used libraries used by Data Scientist includes:
1. Numpy
2. Pandas
3. Seaborn
4. Plotly

# Data Science Tools
| Pandas | R Programming | Jupyter Notebook |
|--------| ------------- | ---------------- |

### Below are a few examples of evaluating arithmetic expressions in Python
+,-,*,/,**

In [10]:
(3*4)+5
## This a simple arithmetic expression to multiply then add integers

17

In [12]:
200 / 60
# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

**Objectives**
- Python
- R Programming
- SQL

## Author 
Haroon Siddiqui